{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="ftco-section msg-display" style="height:100vh;">   
    <div class="container">
        <h1 style="text-align:center; color:white;">Password Changed!</h1>
        <div class="row justify-content-center">

            <div class="col-md-12 col-lg-8 mb-5">
                <div class="row justify-content-center">
                <img src="https://static.vecteezy.com/system/resources/previews/010/829/962/original/green-tick-checkbox-illustration-isolated-free-png.png" style="height:200px;width:200px;">
                </div>
                <h3 style="text-align:center; color:white;">Your password has been changed successfully.</h3>
            </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}

