/* Mobile */
@media screen and (max-width: 780px) {
    a{
        text-decoration: none;;
    }
    .homepage-content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .login-form{
        width: 100% !important;
        padding: 13px !important;
    }
    .navbar{
        background-color: rgb(12, 12, 12);
        
    }
    .navbar-toggler{
        outline: none !important;
        box-shadow: none !important;
        border:none !important;
    }
    .img-comp{
        width: 100vw !important;
        height:30vh !important;
    }
    #form-desc{
        width: 300px !important;
        height:160px;
        border-radius:10px;
        outline:none;
        focus:none;
        padding:10px;
    }
    #form-q{
        width:300px;
        border-radius:10px;
        outline:none;
        focus:none;
        padding:10px;
    }
    #msg-box{
        width:300px;
        height:200px;
        border-radius:10px;
        background-color: rgb(41, 44, 43);
        outline:none;
        focus:none;
        color:white;
        padding:7px;
    }
    #msg-count{
        position: relative;
        padding-right: 3px;
    }
  }

/* Desktop  */
@media screen and (min-width: 779px) {
    .login-form{
        width: 45% !important;
    }
    .form{
        background-color: black !important;
    }
    .homepage-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .job-title{
        color: white !important;
    }
    .job-desc{
        color: grey !important;
    }
    .navbar{
        background-color: black;
    }
    .msg-display{
        background-color: black;
    }
    .s1{
        font-size: 23px !important;
    }
    .img-comp{
        height: 46vh !important;
    }
    #form-desc{
        width:600px;
        height:220px;
        border-radius:10px;
        outline:none;
        focus:none;
        padding:10px;
    }
    #form-q{
        width:600px;
        border-radius:10px;
        outline:none;
        focus:none;
        padding:10px;
    }
    .res-desc{
        width: 600px !important;
    }
    .black{
        background-color: black;
    }
    .red{
        background-color: red;
    }
    .white{
        background-color: white;;
    }
    .icon-heart{
        background-color:grey;
    }
    #msg-box{
        width:700px;
        height:160px;
        border-radius:10px;
        background-color: rgb(41, 44, 43);
        outline:none;
        focus:none;
        color:white;
        padding:10px;
    }
    .prof:hover{
        background-color: black;
    }
    a:visited{
        color:none;
      }  
    a:focus{
        color:white;
      }  
    #upd{
        text-align:left;
    }  
    #custom-file-input{
        background-color: red;
    }
    #bio{
        width:700px;
        height:100px;
        border-radius:10px;
        background-color: rgb(41, 44, 43);
        color:white;
        padding:10px;
    }
    #msg-count{
        position: relative;
        padding-right: 3px;
    }
  }