{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_employer and user.id == employer_id %}
<section class="ftco-section msg-display" style="height:100vh;">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3"> 
          <div class="col-md-8 heading-section text-center ftco-animate p-4" style="border-radius:10px; background-color:rgb(30,30,30);">

            {% if applied_employees %}
            <div class="list-group">
              <h3 class="" style="text-align:center background-color:black; color:white;">
                Applied Candidates
              </h3>
              {% for employee in applied_employees %}
              <a href="{% url 'users:employee_profile' employee_id=employee.pk job_id=job_id %}" class="btn btn-success list-group-item list-group-item-success mt-2">{{ employee.first_name }}  {{ employee.last_name }}</a> 
              {% endfor %}
            </div>
            {% else %}
            <div class="list-group">
              <h5 class="" style="text-align:center background-color:black; color:grey;">
               No Applied Candidates
              </h5>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
</section> 
{% endif %}

{% endblock %}
